.sidebarMenuItem {
	padding: 14px;
	color: #333;
	border: 1px solid rgba(0, 0, 0, 0.06);
	border-radius: 8px;
	cursor: grab;
	display: flex;
	align-items: center;
	font-size: 14px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
	transition: transform 0.15s ease, box-shadow 0.15s ease;
	font-weight: 500;
}
